:root {
  --colorRed: #f70d0c;
}
@font-face {
  font-family: "SF UI Text Light";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Light"),
    url("../fonts/SFUIText-Light.woff") format("woff");
}

@font-face {
  font-family: "SF UI Text Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Heavy"),
    url("../fonts/SFUIText-Heavy.woff") format("woff");
}

body,
figure,
p,
h1 {
  margin: 0;
}
.titles {
  font-family: "SF UI Text Heavy";
}
.texts,
body {
  font-family: "SF UI Text Light";
}
